@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --top-nav-height: 51px;
  --border-color: #dce6e9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  direction: rtl;
}

.sidebar-menu {
  @apply px-3 overflow-y-scroll h-full w-full;
  /* width */
  &::-webkit-scrollbar {
    @apply w-3 h-3;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  &:hover {
    /* Handle */
    &::-webkit-scrollbar-thumb {
      @apply bg-gray-200 h-8 rounded-md border-solid border-2 border-transparent bg-clip-content;
      -webkit-box-shadow: inset 0 0 6px rgba(173, 173, 173, 0.5);
    }
  }
}

h1 {
  @apply text-title-2-bold;
}

h2 {
  @apply text-title-2-bold;
}

h3 {
  @apply text-caption-1-bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  padding-bottom: 12px;
  @apply text-title-5-bold;
}

h1,
h2,
h3,
h4,
h5 {
  @apply text-gray-800;
  + p {
    @apply mt-5;
  }
}

.ltr {
  direction: ltr;
}

p,
body {
  @apply text-body-1 text-gray-600;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

pre {
  @apply block p-3 ltr text-green-200;
  // background-color: transparent !important;
}

.fence-body {
  font-family: ui-monospace, monospace;
}

.language-id {
  @apply hidden;
}

table.errorCodes {
  td {
    @apply px-5 py-2;
  }

  td:first-child {
    @apply w-1/3 text-caption-1-bold text-right;
  }

  td:last-child {
    @apply text-caption-1 text-left;
  }
}

table.child-att {
  @apply border border-t-0 border-gray-100 rounded-2xl rounded-t-none w-full mb-4 border-separate ltr text-gray-400;

  thead tr th {
    @apply px-4 pb-2;
  }

  tbody {
    tr {
      @apply text-caption-1;

      td {
        @apply p-4  border-b  border-gray-100;
      }

      &:last-child {
        td {
          @apply border-0;
        }
      }
    }

    ul {
      @apply text-gray-600 text-right text-body-2;
    }
  }
}

.parameter-title {
  @apply text-body-1-bold mb-2 pt-4;
}

.attr {
  @apply mt-8;
}

.more-attr {
  @apply mt-8;
}

.accordion-attr {
  button {
    @apply pl-0;

    i {
      @apply text-title-2 font-light -ml-6;
    }
    &[aria-expanded="true"] {
      i {
        @apply rotate-90;
      }
    }
  }
}

.menu-accordion {
  @apply flex items-center w-full mt-1 font-bold text-gray-800 rounded-lg focus:outline-none;

  &:not(.collapsed) {
    i {
      @apply rotate-180;
    }
  }
}

.get,
.post,
.delete,
.put {
  @apply mb-2 min-w-max;
  strong {
    @apply w-16 inline-flex justify-end;
  }
}

.get {
  strong {
    @apply text-syntax-light-keyword;
  }
}

.post {
  strong {
    @apply text-syntax-light-string;
  }
}

.delete {
  strong {
    @apply text-orange-400;
  }
}

.put {
  strong {
    @apply text-blue-200;
  }
}

.menu-list {
  .active {
    @apply bg-primary-50 text-primary-500 rounded-lg w-full;
  }
}

.subject-sections {
  h2,
  h1 {
    scroll-margin-top: 70px;
  }
}

.fence-item {
  position: relative;
}

p {
  code {
    @apply text-gray-800 bg-gray-50 px-[3px] mx-[1px] border border-response-toolbar rounded-[4px] text-caption-1 ltr;
  }
}

a {
  @apply text-primary-500 font-medium;
}

hr {
  @apply my-2;
}

blockquote {
  @apply py-2;
}

div.code-container {
  button {
    box-sizing: border-box;
    transition: 0.2s ease-out;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: -10px;
    right: 15px;
  }
}

.tooltip {
  margin-bottom: 23px !important;
}
.tooltip-inner {
  @apply w-40 mr-28 text-right bg-gray-25 shadow-sm border border-gray-200 px-4 py-1 text-gray-400 rounded-lg;

  &::after {
    content: "";
    @apply absolute bg-gray-25 h-3 w-3 right-[46%] -bottom-[5px] rotate-45 border border-t-0 border-l-0 border-gray-200;
  }
}

.sidebar-nav-header {
  @apply hidden;
}

.content-body {
  @apply col-span-6 lg:ml-16;
}
.subject-sections {
  @apply relative pl-[4%] pr-[6%] py-[74px] w-full flex flex-col lg:grid lg:grid-cols-11;

  &:before {
    @apply border-b border-gray-100 w-[90%] left-[4%] absolute bottom-0;
    content: "";

    &:first-child {
      @apply border-none;
    }
  }
}

.fence-container {
  @apply h-fit sticky top-0 col-span-5 ltr;

  .fence-item {
    @apply flex flex-col mb-4;

    .fence-toolbar {
      @apply bg-request-toolbar min-h-[40px] py-2 rounded-t-xl px-3 flex items-center text-gray-600 text-caption-1-bold uppercase;
    }

    .fence-toolbar .text-caption-1 {
      @apply lowercase text-body-2 max-w-[80%] break-words;
    }

    .fence-body {
      @apply p-3 max-h-[73vh] relative border border-response-toolbar rounded-b-xl overflow-auto;

      /* width */
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        @apply bg-transparent mx-1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb:vertical {
        @apply bg-gray-800;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb:horizontal {
        @apply bg-gray-700 rounded-lg;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-900;
      }

      &:hover {
        &::-webkit-scrollbar-thumb:horizontal {
          @apply bg-gray-800;
        }
      }

      &::-webkit-scrollbar-corner {
        @apply bg-transparent;
      }
    }
  }

  .light-fence {
    .fence-toolbar {
      @apply bg-response-toolbar min-h-[40px] py-2 rounded-t-xl px-3 flex items-center text-gray-600 text-caption-1-bold uppercase;
    }

    .fence-body {
      @apply bg-gray-50;

      /* Handle */
      &::-webkit-scrollbar-thumb:vertical {
        @apply bg-gray-300;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb:horizontal {
        @apply bg-gray-50 rounded-lg;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-500;
      }

      &:hover {
        &::-webkit-scrollbar-thumb:horizontal {
          @apply bg-gray-300;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          @apply bg-gray-500;
        }
      }
    }
  }
}

////prism
///
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
p {
  &::-moz-selection,
  &::selection {
    @apply bg-gray-500;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-gray-50;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

pre[class*="language-"],
code[class*="language-"] {
  &::-moz-selection {
    @apply bg-gray-500;
  }
  &::selection {
    @apply bg-gray-500;
  }
  & ::-moz-selection {
    @apply bg-gray-500;
  }
  & ::selection {
    @apply bg-gray-500;
  }
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  @apply bg-gray-50;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  @apply text-gray-400;
}

.token.namespace {
  opacity: 0.7;
}

.token.boolean {
  @apply text-syntax-light-keyword;
}

.token.number {
  @apply text-orange-200;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-green-200;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-blue-200;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-200;
}

.token.function,
.token.class-name {
  @apply text-gray-300;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.light-fence {
  code[class*="language-"],
  pre[class*="language-"] {
    @apply text-gray-500;
  }

  pre[class*="language-"],
  code[class*="language-"] {
    &::-moz-selection {
      @apply bg-gray-200;
    }
    &::selection {
      @apply bg-gray-200;
    }
    & ::-moz-selection {
      @apply bg-gray-200;
    }
    & ::selection {
      @apply bg-gray-200;
    }
  }
  .fence-body {
    .token.property,
    .token.tag,
    .token.constant,
    .token.symbol,
    .token.deleted {
      @apply text-gray-500;
    }
  }
  .token.operator {
    @apply text-gray-500;
  }

  .token.number {
    @apply text-orange-400;
  }
}

.tooltip {
  @apply bg-orange-200;
  margin-bottom: 23px !important;
}
.tooltip-inner {
  @apply w-40 mr-28 text-right bg-gray-25 shadow-sm border border-gray-200 px-4 py-1 text-gray-400 rounded-lg;

  &::after {
    content: "";
    @apply absolute bg-gray-25 h-3 w-3 right-[46%] -bottom-[5px] rotate-45 border border-t-0 border-l-0 border-gray-200;
  }
}

// .copy-btn{
//   .hide{
//     @apply hidden  absolute bottom-8 -right-3 w-36 text-right bg-gray-25 shadow-sm border border-gray-200 px-4 py-1 text-gray-400 rounded-lg;
//   }

//   &:hover{
//     .hide {
//       display: block;
//     }
//     // opacity: 50%;
//     &::before{
//       position: absolute;
//       left: 4%;
//       bottom: 0px;
//       width: fit-content;
//       content: '';
//       border-bottom-width: 2px;
//       --tw-border-opacity: 1;
//       border-color: rgb(227 232 238 / var(--tw-border-opacity));
//       content: "";
//     }
//   }
// }
